[Desktop Entry]
Icon=.icon/_kraft_paper_38_noise.png
Name=kraft_paper_38_noise
Type=Link
URL[$e]=.source/_kraft_paper_38_noise.kra
X-KDE-Hidden=false
